<!DOCTYPE html>
<html lang="en" ng-app="EvalSystem">
<head>
    <meta charset="utf-8" />
    <title>Permissions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="../Controllers/PermissionsPage.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/PermissionsPage.css">
</head>
<body>
    <div class="accordion Vertical-Accordian">
        <ul>
            <li>
                <input id="pane1-button" type="radio" name="select" class="accordion-select" checked />
                <div class="accordion-title">
                    <span>Faculty Selection</span>
                </div>
                <div class="accordion-content" ng-controller="FacultySelectController">
                    <h4 style="display:flex; justify-content:center; margin:auto">Select Faculty Member to Modify Permissions</h4>
                    <span style="display:flex; justify-content:center; margin-top:10px">
                        <select id="facultyList" size="10" multiple>
                            <!--<option ng-repeat="term in terms" value="{{Select.SemesterID}}">
                                {{ Select.FirstName + " " + Select.LastName }}
                            </option>-->
                        </select>
                    </span>
                    <span style="display:flex; justify-content:center; margin-top:10px">
                        <button name="select" onclick="getElementById('pane2-button').click()"">Next</button>
                        <!-- <button name="select" onclick="getElementById('pane2-button').click()">Next</button> -->
                    </span>
                </div>
                <div class="accordion-separator"></div>
            </li>         
            <li>
                <input id="pane2-button" type="radio" name="select" class="accordion-select" />
                <div class="accordion-title">
                    <span>Permissions Selection</span>
                </div>
                <div class="accordion-content">                    
                    <form id="reportOptionForm" action="" method="POST" onsubmit="return buildReport()">
                        <div id="LeftColumn" style="float:left;width:45%">
                            <h4 style="display:flex; justify-content:center;">Permissions Options:</h4>
                            <span style="display:flex; justify-content:center;margin-top:10px">
                                <select id="permList" style="width:300px; margin:auto; display:grid;overflow-y:scroll;height:185px;" size="10">
                                    <option value="Administrator">1 Administrator</option>
                                    <option value="Manager">2 Manager</option>
                                    <option value="Instructor">3 Instructor</option>
                                    <option value="Support Staff">4 Support Staff</option>
                                    <option value="Site Admin">5 Site Admin</option>
                                    <option value="Site Manager">6 Site Manager</option>
                                    <option value="Site Staff">7 Site Staff</option>
                                    <option value="Remote Proctor Admin">8 Remote Proctor Admin</option>
                                    <option value="Remote Proctor">9 Remote Proctor</option>
                                    <option value="WSU Staff">10 WSU Staff</option>
                                    <option value="Adjunct">11 Adjunct</option>
                                    <option value="Department Chair">12 Department Chair</option>
                                    <option value="Dean">13 Dean</option>
                                    <option value="Reports Instructor">14 Reports Instructor</option>
                                    <option value="Tenure">15 Tenure</option>
                                    <option value="Single Eval Admin">16 Single Eval Admin</option>
                                    <option value="Demo Instructor">17 Demo Instructor</option>
                                    <option value="Student">18 Student</option>
                                    <option value="Standards Admin">19 Standards Admin</option>
                                    <option value="Adjunct Advisor">20 Adjunct Advisor</option>
                                </select>
                            </span>
                            <h4 style="display:flex; justify-content:center; margin:auto">Departments Options:</h4>
                            <span style="display:flex; justify-content:center; margin-top:10px" ng-controller="DeptController">
                                <select id="deptList" style="-webkit-appearance:listbox;width:300px;margin:auto;display:grid;overflow-y:scroll;height:185px;" size="10">
                                    <option ng-repeat="dept in depts" value="{{ dept.DepartmentCode }}">
                                        {{ dept.DepartmentName }}
                                    </option>
                                </select>
                            </span>
                           </div>
                        <div id="CenterColumn" style="float:left;width:10%">
                            <div style="height:194px"></div>
                            <button onclick="" class="addRemove" type="button">Add <br />=></button>
                            <div style="height:7px"></div>
                            <button onclick="" class="addRemove" type="button"><=<br /> Remove</button>
                        </div>
                        <div id="RightColumn" style="float:right;width:45%">
                            <h4 style="display:flex; justify-content:center;">-Professor Name's Permissions:</h4>
                            <span style="display:flex; justify-content:center; margin-top:10px" ng-controller="RoleController">
                                <select id="roleList" style="-webkit-appearance:listbox;width:300px;margin:auto;display:grid;overflow-y:scroll;height:400px;" size="25">
                                    <!--<option ng-repeat="role in roles" value="{{ role.value }}">
                                        {{ role.value }}
                                    </option>-->
                                </select>
                            </span>
                        </div>
</form>
                </div>
                <div class="accordion-separator"></div>
            </li>
        </ul>
    </div>

</body>
</html>