body{
	background-color:#2555BA;
}

.multiselect {
  width: 16px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 30%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
    background-color: #FFFFEE;
    /*display: none;*/
    border: 1px #dadada solid;
    width: 80%;
    height: 200px;
    overflow-y: scroll;
    position: center;
}

#DepartmentListcheckboxes {
    background-color: #FFFFEE;
    /*display: none;*/
    border: 1px #dadada solid;
    width: 80%;
    height: 200px;
    overflow-y: scroll;
    position:center;
}

#RoleListCheckboxes {
    background-color: #FFFFEE;
    /*display: none;*/
    border: 1px #dadada solid;
    width: 80%;
    height: 500px;
    overflow-y: scroll;
    position: center;
}

#checkboxes label {
  display: block;
}

#DepartmentListcheckboxes label {
    display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#RoleListCheckboxes label {
    display: block;
}

#results{
	background-color: #FFFFEE;
	width: 30%;
}

#LeftColumn {
    width: 45%;
    float:left;
}

#CenterColumn{
    width:10%;
    float:left;
}
#CenterColumn button {
    width: 100%;
}

#RightColumn {
    width: 45%;
    float: Right;
}

.Backbutton{
	display: block;
	width: 200px;
}
